/* CSS cho các button */
.btn-approval {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Nút "Công việc chờ duyệt" và "Lịch sử duyệt bài" */
.btn-approval:hover {
  background-color: #2196F3;
  color: rgb(208, 244, 205);
  margin-left: 10px;
  opacity: 0.8;
}

.btn-approval:focus {
  outline: none;
}

/* Nút "Duyệt bài" */
.approve-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.approve-button:hover {
  background-color: #4CAF50;
  color: rgb(208, 244, 205);
}

.approve-button:hover {
  background-color: #45a049;
}

.approve-button:active {
  transform: scale(0.98);
}

/* Nút "Xoá bài" */
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button:hov {
  background-color: #f44336;
  color: rgb(239, 184, 184);
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #e53935;
}

.delete-button:active {
  transform: scale(0.98);
}